numpy==1.21.5
lightning_bolts==0.5.0
Pillow==9.2.0
pytorch_lightning==1.6.4
scipy==1.7.3
segmentation_models_pytorch==0.2.1
torch==1.12.0
torchvision==0.13.0
jsonargparse[signatures]==4.10.2
wandb==0.12.15
